datadir="/var/lib/proxysql"

admin_variables=
{
  admin_credentials="admin:admin;radmin:radmin"
  mysql_ifaces="0.0.0.0:6032"
}

mysql_variables=
{
  threads=2
  max_connections=2048
  default_query_delay=0
  default_query_timeout=36000000
  have_compress=true
  poll_timeout=2000
  interfaces="0.0.0.0:6033"
  default_schema="information_schema"
  stacksize=1048576
  server_version="8.0.20"
  connect_timeout_server=3000
  monitor_username="monitor"
  monitor_password="monitor"
  monitor_history=600000
  monitor_connect_interval=5000
  monitor_ping_interval=2000
  monitor_read_only_interval=1500
  monitor_read_only_timeout=500
  ping_interval_server_msec=15000
  ping_timeout_server=500
  commands_stats=true
  sessions_sort=true
  connect_retries_on_failure=10
}

# defines all the MySQL servers
mysql_servers =
(
	{ address="mysql-8.default.svc.cluster.local" , port=3306 , hostgroup=1, max_connections=5000 },
        { address="mysql-8-slave.default.svc.cluster.local" , port=3306 , hostgroup=1, max_connections=5000 },
)


# defines all the MySQL users
mysql_users:
(
	{ username = "root" , password = "XHCO2ydDXj" , default_hostgroup = 0 , active = 1 }
)



#defines MySQL Query Rules
mysql_query_rules:
(
	{
		rule_id=1
		active=1
		match_pattern="^SELECT .* FOR UPDATE$"
		destination_hostgroup=0
		apply=1
	},
	{
		rule_id=2
		active=1
		match_pattern="^SELECT"
		destination_hostgroup=1
		apply=1
	}
)

scheduler=
(
)


mysql_replication_hostgroups=
(
        {
                writer_hostgroup=0
                reader_hostgroup=1
                comment="RHG1"
       }
)

